@media only screen and (max-width: 900px) {
    body {
        position: relative;
    }

    .section1 {
        height: 100%;
        // margin: 0;
    }
    .sectionFlex { 
        display: grid;
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .section {
        width: 100vw;
        margin-left: 0;
        margin-top: 0;
    }
    
    .nav_icon {
        width: 100%;
        position: relative;
    }

    .section2 .par {
        // padding: 3px 20px 10px 30px;
    }

    .borRight {
        // display: none;
        border-bottom: 2px solid rgb(221, 221, 221);
        margin-bottom: 20px;
    }

    .flextry2 {
        .borRight {
            border-right: 2px solid rgb(255, 255, 255);
            height: 147%;
        }
    }



    .flextry2 {
        display: block;
        grid-template-columns: 1fr;
    }
    .commentFlex p {
        width: 100%;
    }

    .section3 {
        height: 100%;
        width: 100vw;
        padding: 5px;
        background-color: #ffffff;
    }

    .commentFlexLast {
        padding-top: 4rem;
        padding-bottom: 2rem;
        // margin: 0;
    }

    .textbox {
        width: 90%;
        margin: 2rem 0 25px 15px;
        // border-bottom: 2px solid gray;
    }

    ul {
        margin: 0px 7px 9px;
    }

    .borUl {
        margin-top: 9px;
    }

    .pad {
        padding-bottom: 1rem;
    }

    .section2Flex {
        width: 100%;
    }

    .box {
        width: 100%;
        margin: 1px;
    }

    
    .section2 {
    
        max-height: 100vh;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    
        .parbold {
            font-weight: bold;
            padding: 18px 20px 30px;
    
        }
    }

    .nav_link {
        display: flex;
        list-style: none;
        cursor: pointer;
        margin-left: 0px;
        // margin-bottom: 20px;
        justify-content: space-around;
        background-color: #6454c035;
        width: 100%;

        ul {
            margin: 0 !important;
        }

    }

}

@media screen and (min-width : 900px) and (max-width: 1200px) {
    .sectionFlex { 
        display: grid;
        grid-template-columns: 2fr;
    }

    .flextry2 {
    
        .borRight {
            border-right: 2px solid rgb(224, 224, 224);
            height: 100vh;
            width: 70%;
        }
    }

    .section3 {
        height: 100%;
        width: 28vw;
        padding: 10px;
        background-color: #ffffff;
    }
    
    .section {
        margin-top: 1rem;
    }

    .textbox {
        width: 90%;
        margin: 8rem 0 3rem 32px;
    }
    
    .pad {
        padding-bottom: 3rem;
    }

}