.sidebar {
    background-color: #f6fafd;
    height: 100%;
    position: fixed;
    top: 3.6rem;
    left: 0;
    bottom: 0;
    width: 50px;

    img {
        display: block;
        padding: 1rem;
    }
}